&share
 wrf_core                      = 'ARW',
 max_dom                       = 3,
 start_date                    = '{{.Start.Iso}}','{{.Start.Iso}}','{{.Start.Iso}}',
 end_date                      = '{{.End.Iso}}','{{.End.Iso}}','{{.End.Iso}}',
 interval_seconds              = 3600,
 io_form_geogrid               = 2,
 opt_output_from_geogrid_path  = '/wrfbase/wpswd/geogrid',
 debug_level = 0,
/

&geogrid
 parent_id                     =              1,             1,             2,
 parent_grid_ratio             =              1,             3,             3,
 i_parent_start                =              1,            21,           162,
 j_parent_start                =              1,            21,            79,
 e_we                          =            216,           523,           430,
 e_sn                          =            191,           448,           469,
 geog_data_res                 = 'modis_lakes+30s','modis_lakes+30s','modis_lakes+30s',
 dx                            = 22500,
 dy                            = 22500,
 map_proj                      = 'mercator',
 ref_lat                       = 47,
 ref_lon                       = 15,
 truelat1                      = 47,
 truelat2                      = 0,
 stand_lon                     = 15,
 geog_data_path                = '/geogrid',
 opt_geogrid_tbl_path          = '/deps/WPS-4.1/geogrid',
 ref_x                         = 108,
 ref_y                         = 95.5,
/

&ungrib
 out_format = 'WPS',
 prefix = 'FILE',
/

&metgrid
 fg_name                       = 'FILE',
 io_form_metgrid               = 2,
 {{.MetGridConstants}}
 opt_metgrid_tbl_path          = '/deps/WPS-4.1/metgrid',
/

&mod_levs
 press_pa = 201300 , 200100 , 100000 ,
             95000 ,  90000 ,
             85000 ,  80000 ,
             75000 ,  70000 ,
             65000 ,  60000 ,
             55000 ,  50000 ,
             45000 ,  40000 ,
             35000 ,  30000 ,
             25000 ,  20000 ,
             15000 ,  10000 ,
              5000 ,   1000
 /
